.DS_Store
.idea
*.log
tmp/

*.m~

training/
mnistOriginal/
mnistPreprocessed/

keys_demo.mp4

renderedForTraining/
renderedForTesting/
models/

renderedForTrainingLandoltc/
renderedForTestingLandoltc/
modelsLandoltc

.ipynb_checkpoints/

__pycache__/

nosave*

03-psychophysics/data/external/
03-psychophysics/data/test/
03-psychophysics/data/training-input-data/

virtualenv/

03-psychophysics/data/training-intermediate-data/training-images/
03-psychophysics/data/training-hole-filling/training-images/
03-psychophysics/data/digit-models/

#*
.#*

scratchpad.ipynb

Thumbs.db
